/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
    background-image: url('images2.jpg'); /* Caminho relativo à localização do CSS */
    background-size: cover; /* Ajusta a imagem para cobrir a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
}

/* Títulos */
h1, h2 {
    color: #89CFF0; /* Baby Blue */
    text-align: center;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #2980b9; /* Azul mais escuro */
    color: white;
    font-weight: bold;
}

td {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Formulário com fundo transparente */
form {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com 80% de opacidade */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    margin-bottom: 20px;
    color: #333; /* Texto mais escuro para boa legibilidade */
}

/* Labels */
label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: #2980b9; /* Azul mais escuro */
}

/* Inputs e Botões */
input, button, textarea {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

input:focus, textarea:focus {
    border-color: #89CFF0; /* Baby Blue */
    outline: none;
    box-shadow: 0 0 4px rgba(52, 152, 219, 0.5);
}

textarea {
    height: 80px;
}

/* Botões */
button {
    background-color: #89CFF0; /* Baby Blue */
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #2980b9; /* Azul mais escuro */
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

/* Botão de Ordenação */
#ordenarBtn {
    width: auto;
    display: block;
    margin: 0 auto 20px auto;
}

/* Rodapé ou outras seções */
footer {
    background-color: #2980b9; /* Azul mais escuro */
    color: white;
    padding: 10px;
    text-align: center;
}
